.inline-block{
    display: inline-block;
}

.m-1{
    margin-right: 1rem;
}

.ml-p5{
    margin-left: .5rem;
}
.mt-1{
    margin-top: 1rem !important;
}

.center{
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
}

.pb-1{
    padding-bottom: 1rem !important;
}

.w-55p{
    width: 55%;
}

.w-45p{
    width: 45%;
}

.w-25p{
    width: 25%;
}

.w-75p{
    width: 75%;
}

.m1{
    margin: 1rem;
}

.p1{
    padding: 1rem;
}